body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* alert box */

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alert.info {
    background-color: #2196F3;
    
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 28px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.heading{
  font-size: 50px;
}

.items{
  font-size: 20px;
}

/* Stopwatch */
.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  width: 150px;

  border: 2px solid;
  border-radius: 50%;
  color: white;
}


.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 32px;
}